*{
  padding:0;
  margin:0;
}
html, body{
  height:100%;
}
p{
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
  color: rgb(170,0,170)
}

.navbar{
  width: 100%;
  height: 30px;

}

.postsHolder{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 1rem;
  padding:10px;
}

.postThumb{
  position: relative;
}
.postThumb_mainElement{
  height: 100%;
  width: 100%;
}

.postThumb_mainElement img{
  max-height: 50vh;
  width: 100%;
  object-fit: cover;

}

.postThumb_mainElement div{
  min-height: 30vh;
  font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (2048 - 300)));
  background-color:rgb(214, 211, 211);
}
.postThumb_mainElement div p{
  padding:20px 3%;
  word-wrap: break-word;
}
.postThumb_smallTitle{
  position: absolute;
  bottom: 0;
  left:0;
  font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (2048 - 300)));
  width: 100%;
  background-color: rgba(177,177,177,.7);
  padding:0px;
  margin:0;
  font-weight: bold;
  color: rgb(30, 30, 30);
}
.postThumb_smallTitle p{
  padding:3px;
}
@media(max-width:834px){
  .postThumb_mainElement img{
    max-height: 90vh;
  }
  .postThumb_smallTitle{
    font-size: calc(8px + (28 - 8) * ((100vw - 300px) / (2048 - 300)));
  }
}
.postFull{
  position: fixed;
  width: 90%;
  height: 90%;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index:100;
}

.postFull img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.postFull div{
  height: 100%;
  width: 100%;
  overflow:scroll;
  font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (2048 - 300)));
  background-color:white;
}
.postFull div p{
  padding:10px 3% 0 3%;
  text-indent: 12pt;
}
.postFull_backing{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  background-color:rgba(34, 33, 33, 0.9);
}